:host ::ng-deep .fc-event.conflict {
  background-color: #f87171 !important; 
  border-color: #ef4444 !important;
}

::ng-deep .fc-scroller-harness {
  overflow-x: auto;
}
.fc-event.conflict {
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color: white !important;
}
.calendar-wrapper-outer {
  overflow-x: auto;
  width: 100%;
}

.calendar-wrapper-inner {
  min-width: 1800px; 
  display: inline-block;
}

::ng-deep .fc-resource-cell,
::ng-deep .fc-col-header-cell,
::ng-deep .fc-timegrid-col {
  min-width: 160px !important;
  text-align: center;
}


